*.o
*.a
voro++/examples/basic/convex_test
voro++/examples/basic/import
voro++/examples/basic/platonic
voro++/examples/basic/random_points
voro++/examples/basic/single_cell
voro++/examples/custom/cell_statistics
voro++/examples/custom/custom_output
voro++/examples/custom/radical
voro++/examples/degenerate/degenerate
voro++/examples/degenerate/degenerate2
voro++/examples/extra/box_cut
voro++/examples/extra/cut_region
voro++/examples/extra/irregular
voro++/examples/extra/l_shape
voro++/examples/extra/superellipsoid
voro++/examples/interface/find_voro_cell
voro++/examples/interface/loops
voro++/examples/interface/odd_even
voro++/examples/interface/polygons
voro++/examples/walls/cylinder
voro++/examples/walls/frustum
voro++/examples/walls/tetrahedron
voro++/examples/walls/torus
/voro++/src/voro++
zeo++/framework_builder
zeo++/molecule_to_abstract
zeo++/network
*.swp

eigen-3.2.7/
eigen-3.2.7.tar.bz2

.vscode
